.ie6.home_page #main_content .windchime-container {
	right:-2px;
}


.ie6.home_page #main_content.hover .rotator-controls,
.ie7.home_page #main_content.hover .rotator-controls {
	filter:alpha(opacity=100);
}

#main_content .rotator-pane {
	margin-left:0px;
}
#main_content .rotator-pane .pane-overlay-background {
	width:640px;
	height:400px;
}

#main_content .rotator-pane .pane-overlay-background {
	filter:alpha(opacity=65);
}

.ie6 .promo-box,
.ie7 .promo-box {
	float: left;
}
